* {
    padding: 0;
    margin: 0;
    outline: 1px solid green;
}

.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header-div ul {
    list-style: none;
}

.header-div ul li {
    font-size: 2rem;
    
}