@import url("https://fonts.google.com/share?selection.family=Poppins:wght@100");

* {
    margin: 0;
    padding: 0;
    font-family: "Popins", sans-serif;
    scroll-behavior: smooth !important;
    /* outline: solid 1px red; */
}

::-webkit-scrollbar {
    background: rgb(212, 222, 230);
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#35333d, #141418);
    border-radius: 1rem;
}

#main {
    overflow: auto;
    padding: 0 0 5rem 0;
}

/*!-------------HEADER-------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    transition: 750ms ease;
    background: white;
    border-bottom: 1px solid black;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    display: inline-block;
}

.logo img {
    max-width: 100%;
}

nav  {
    list-style: none;
    text-align: center;
    display: inline-block;
}

nav ul li {
    margin: .5rem 1rem;
    transition: 1s ease;
    display: inline-block;
}

nav ul li a {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    cursor: pointer;
    transition: 1s ease;
    text-decoration: none;
}

nav ul li:hover {
    transform: translateY(-5px);
}

/*!-------------HOME-------------*/

.home-main {
    display: flex;
    text-align: center;
    align-items: center;
    height: 90vh;
}

.home-text {
    flex-basis: 30%;
}

.home-img {
    flex-basis: 70%;
}

.home-img img {
    max-width: 100%;
}

.home-text h1 {
    font-size: 2.5rem;
}

/*?-------------HOME-SECTIONS-------------*/

.home-section1 h1 {
    text-align: center;
    margin: 5rem;
    font-size: 2.5rem;
}

/*?-------------HOME-CARDS-------------*/

.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
}

.card {
    width: 25rem;
    margin: 1rem;
    padding: .7rem;
    border: 3px solid black;
    border-radius: 20px;
    transition: 750ms ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    border-radius: 20px;
}

/*!-------------FOOTER-------------*/

footer {
    background: linear-gradient(#35333d, #141418);
    position: relative;
    height: auto;
    margin: 0 0 -5rem 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.column1 {
    flex-basis: 30%;
    margin: 1rem 0;
    text-align: center;
}

.column1 h1,
.column2 h1,
.column3 h1 {
    font-size: 2.25rem;
    padding: .5rem 0 0 0;
    font-weight: 800;
}

.column1 img {
    float: left;
    width: 4rem;
    height: 4rem;
    padding: .5rem 0 0 .5rem;
}

.column1 p {
    margin: .5rem 0;
    font-size: 1.5rem;
    opacity: 50%;
}

.column2 {
    flex-basis: 40%;
    margin: .35rem 1rem 0 1rem;
    text-align: center;
    margin: 1rem 0;
}

.column2 ul {
    list-style: none;
    margin: .35rem 1rem;
}

.column2 ul li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 750ms ease-in-out;
    opacity: 50%;
}

.column2 ul li a:hover {
    color: rgb(62, 216, 255);
}

.column3 {
    flex-basis: 30%;
    margin: .35rem;
    margin: 1rem 0;
    text-align: center;
}

.column3 p {
    margin: .5rem 0;
    font-size: 1.5rem;
    opacity: 50%;
}

.column3 ul li {
    list-style: none;
}

.column3 ul li i {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: .3rem 0;
    opacity: 50%;
    transition: 750ms ease-in-out;
}

.column3 ul li i span {
    font-size: 1.25rem;
    padding: .5rem;
    font-weight: normal;
}

.copyright {
    text-align: center;
    padding: 1rem;
}

.copyright h1 {
    color: rgba(255, 255, 255, 0.5);
}

.fa-facebook:hover {
    color: rgb(55, 55, 247);
}

/*!-------------SMALL-SCREEN-------------*/

nav .fa-regular,
nav .fa-solid,
nav hr,
nav h1 {
    display: none;
}

@media screen and (width <= 1300px) {
    .home-main {
        height: auto;
        display: block;
        margin: 2rem 0;
    }

    .home-text {
        flex-basis: 100%;
        padding: 0 .6rem;
    }
    
    .home-img {
        flex-basis: 100%;
    }
}

@media screen and (width <= 1080px) {
    .footer-content {
        display: block;
        margin: 2rem 0;
    }

    .column1,
    .column2,
    .column3 {
        text-align: center;
        flex-basis: 100%;
        margin: 2rem 0;
        padding: 1rem;
    }
}

@media screen and (width <= 900px) {
    /*!-------------HEADER-------------*/
    nav .fa-regular,
    nav .fa-solid,
    nav hr,
    nav h1 {
        display: block;
        font-size: 2rem;
        color: black;
    }

    .burger-div {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    nav ul {
        background: whitesmoke;
        position: fixed;
        top: -80rem;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        padding-top: 3rem;
        z-index: 999;
    }

    nav ul li {
        display: block;
        margin: 1rem 0;
    }
    
    nav ul li:hover {
        transform: none;
    } 

    nav ul li a {
        font-size: 2.5rem;
    }

    nav ul .fa-solid  {
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    .fa-bars {
        cursor: pointer;
        margin: 0 2rem;
    }

    .links {
        margin: 1rem;
    }
    
    .card {
        width: 20rem;
        margin: 1rem;
        align-items: center;
        border: 5px solid white;
        border-radius: 20px;
    }
}

@media screen and (width <= 600px) {
    .home-main h1 {
        font-size: 1.6rem;
        margin: .5rem;
    }   

    .home-section1 h1 {
        font-size: 1.6rem;
        margin: 1rem;
    }

    footer {
        height: auto;
    }

    .column1 h1,
    .column2 h1,
    .column3 h1 {
        font-size: 1.75rem;
        padding: 1rem;
    }

    .copyright h1 {
        font-size: 1.75rem;
    }
}