@import url("https://fonts.google.com/share?selection.family=Poppins:wght@100");

* {
    margin: 0;
    padding: 0;
    font-family: "Popins", sans-serif;
    scroll-behavior: smooth !important;
    /* outline: solid 1px red; */
}

::-webkit-scrollbar {
    background: rgb(255, 255, 255);
    width: .5rem;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#35333d, #141418);
    border-radius: 1rem;
}

/*!-------------HEADER-------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    transition: 750ms ease;
    background: transparent;
    border-bottom: 1px solid black;
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
    background: whitesmoke;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    display: inline-block;
}

.logo img {
    max-width: 100%;
}

nav  {
    list-style: none;
    text-align: center;
    display: inline-block;
}

nav ul li {
    margin: .5rem 1rem;
    transition: 1s ease;
    display: inline-block;
}

nav ul li a {
    font-size: 2rem;
    font-weight: 700;
    color: black;
    cursor: pointer;
    text-decoration: none;
    transition: 250ms ease-in-out;
}

nav ul li.active {
    background-color: #d3d3d3;
}

nav ul li:hover {
    transform: translateY(-5px);
}

nav ul li a:hover {
    color: red;
}


/*!-------------HOME-------------*/
/*?-------------HOME-MAIN-------------*/

.home-main {
    display: flex;
    text-align: center;
    align-items: center;
}

.home-text {
    flex-basis: 30%;
}

.home-img {
    flex-basis: 70%;
}

.home-img img {
    max-width: 100%;
}

.home-text h1 {
    font-size: 2.5rem;
    padding: 2rem;
}

/*?-------------HOME-SECTION-------------*/

.home-section p {
    text-align: center;
    margin: 3rem;
    font-size: 2.5rem;
}

/*?-------------HOME-CARDS-------------*/

.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    width: 100%;
    margin: 1rem 0;
}

/*?-------------CARD-------------*/

.card {
    width: 25rem;
    margin: 1rem;
    padding: .7rem;
    border: 3px solid black;
    border-radius: 20px;
    transition: 750ms ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card a {
    text-decoration: none;
    color: black;
}

.card img {
    max-width: 100%;
    border-radius: 20px;
}

/*!-------------ABOUT-------------*/

.about-main {
    text-align: center;
    height: auto;
}

.about-main h1 {
    font-size: 3rem;
    margin: 2rem 0 .5rem 0;
}

.about-info {
    padding: 1rem;
}

.about-info p {
    font-size: 2rem;
    margin: 1rem;
}

.about-section {
    display: flex;
    margin: 2rem 0;
}

.about-img {
    flex-basis: 25%;
}

.about-img img {
    max-width: 100%;
    border-radius: 20px;
    padding: .5rem;
    border: 3px solid black;
}

.about-text {
    flex-basis: 70%;
    text-align: left;
    padding: .5rem;
    margin: 0 0 2rem 1.5rem;
}

.about-text h1  {
    font-size: 2.5rem;
}

.about-text p {
    font-size: 2rem;
}

/*!-------------GALLERY-------------*/

.container {
    text-align: center;
}

.container h1 {
    font-size: 5rem;
    margin: 2rem 0;
    text-transform: uppercase;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
}

.image {
    width: 20rem;
    height: 15rem; 
    border: 5px solid white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 10px 10px 20px;
}

.image img {
    max-width: 100%;
    border-radius: 20px; 
    cursor: pointer;
    object-fit: cover;
    transition: 250ms ease-in-out;
}

.image:hover img {
    transform: scale(1.1);
}

.popup-image {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-image .image {
    border: none;
    box-shadow: none;
    width: 0;
    height: 0;
    border: 5px solid;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50rem;
    object-fit: cover;
    border: 5px solid white;
    transform: translate(-50%, -50%);
}

.popup-image .image:hover img {
    transform: translate(-50%, -50%) scale(1);
}


/*!-------------FOOTER-------------*/

footer {
    background: linear-gradient(#35333d, #141418);
    position: absolute;
    height: auto;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.column1 {
    flex-basis: 30%;
    margin: 1rem 0;
    text-align: center;
}

.column1 h1,
.column2 h1,
.column3 h1 {
    font-size: 2.25rem;
    padding: .5rem 0 0 0;
    font-weight: 800;
}

.column1 img {
    float: left;
    width: 4rem;
    height: 4rem;
    padding: .5rem 0 0 .5rem;
}

.column1 p {
    margin: .5rem 0;
    font-size: 1.5rem;
    opacity: 75%;
}

.column2 {
    flex-basis: 40%;
    margin: .35rem 1rem 0 1rem;
    text-align: center;
    margin: 1rem 0;
}

.column2 ul {
    list-style: none;
    margin: .35rem 1rem;
}

.column2 ul li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 750ms ease-in-out;
    opacity: 75%;
}

.column2 ul li a:hover {
    color: rgb(62, 216, 255);
}

.column3 {
    flex-basis: 30%;
    margin: .35rem;
    margin: 1rem 0;
    text-align: center;
}

.column3 p {
    margin: .5rem 0;
    font-size: 1.5rem;
    opacity: 75%;
}

.column3 ul li {
    list-style: none;
}

.column3 ul li .icon {
    text-decoration: none;
    font-size: 1.3rem;
    transition: 750ms ease-in-out;
}

.column3 ul li span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    padding: .5rem;
}

.copyright {
    text-align: center;
    padding: 1rem;
}

.copyright h1 {
    color: rgba(255, 255, 255, 0.5);
}

ul li a .icon {
    margin: .5rem 0;
}

ul li a .icon > path {
    transition: 500ms ease-in-out;
    color: white;
}

ul li a .icon:hover > path {
    color: rgb(13, 76, 250);
}

/*!-------------SMALL-SCREEN-------------*/

nav .icon {
    display: none;
}

@media screen and (width <= 1300px) {
    .home-main,
    .about-section {
        height: auto;
        display: block;
        margin: 1rem 0;
    }

    .home-text,
    .about-text {
        flex-basis: 100%;
    }
    
    .home-img,
    .about-img {
        flex-basis: 100%;
    }

    .about-text {
        text-align: center;
    }
}

@media screen and (width <= 1080px) {
    .footer-content {
        display: block;
        margin: 2rem 0;
    }

    .column1,
    .column2,
    .column3 {
        text-align: center;
        flex-basis: 100%;
        margin: 2rem 0;
        padding: 1rem;
    }
}

@media screen and (width <= 925px) {
    /*!-------------HEADER-------------*/    
    nav .icon {
        display: block;
        font-size: 2rem;
        color: black;
    }

    .burger-div {
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    nav ul {
        background: whitesmoke;
        position: fixed;
        top: -80rem;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        padding-top: 3rem;
        z-index: 999;
    }

    nav ul li {
        display: block;
        margin: 1rem 0;
    }
    
    nav ul li:hover {
        transform: none;
    } 

    nav ul li a {
        font-size: 2.5rem;
    }

    nav ul .icon  {
        position: absolute;
        font-size: 2.5rem;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    .fa-bars {
        margin: 0 2rem;
        cursor: pointer;
    }

    /*?-------------GALLERY-------------*/

    .popup-image img {
        width: 90%;
    }

    /*?-------------CARD-------------*/  
    .card h1 {
        font-size: 1.75rem;
    }
}

@media (width <= 1050px) and (width >= 1000px) {
    .popup-image img {
        width: 70%;
    }
}

@media (width <= 925px) and (orientation: landscape) {
    .popup-image img {
        width: 22rem;
        width: calc(30rem - 5%);
    }
}



@media screen and (width <= 600px) {
    .home-main h1 {
        font-size: 1.7rem;
        margin: .5rem;
        padding: .5rem;
    }   

    .home-section p {
        font-size: 1.6rem;
        margin: 1rem;
    }

    .about-main h1 {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .about-text p,
    .about-main p {
        font-size: 1.25rem;
        margin: 0;
    }

    .about-img img {
        max-width: 85%;
    }


    /*!-------------FOOTER-------------*/  
    footer {
        height: auto;
    }

    .column1 h1,
    .column2 h1,
    .column3 h1 {
        font-size: 1.75rem;
        padding: 1rem 0;
    }

    .copyright h1 {
        font-size: 1.75rem;
    }
}