@import url("https://fonts.google.com/share?selection.family=Poppins:wght@100");

* {
    margin: 0;
    padding: 0;
    font-family: "Popins", sans-serif;
    scroll-behavior: smooth !important;
    /* outline: solid 2px crimson; */
}

body {
    background: rgb(28,43,73);
}

::-webkit-scrollbar {
    background: rgb(28,43,73);
    width: .6rem;
    height: .75rem;
}

::-webkit-scrollbar-thumb {
    background: #071329;
    border-radius: 1rem;
}

.preloader {
    background: rgb(50, 50, 58) url("./pictures/preloader.gif") no-repeat center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 1000;
}

.title {
    font-size: 5rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 2px 3px black;
}


/*!-------------HEADER-------------*/
.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    transition: 750ms ease;
    border-bottom: 1px solid black;
}

.logo {
    width: 4rem;
    height: 4rem;
    margin: .5rem;
    display: inline-block;
    list-style: none;
}

.logo img {
    max-width: 100%;
    border-radius: 70%;
}

nav {
    list-style: none;
    text-align: center;
    display: inline-block;
}

nav ul li {
    margin: .5rem 1rem;
    transition: 1s ease;
    display: inline-block;
}

nav ul li a {
    font-size: 2rem;
    font-weight: 700;
    color: whitesmoke;
    text-shadow: 3px 3px 1px black;
    cursor: pointer;
    text-decoration: none;
    transition: 500ms ease-in-out;
}

nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #4d86f0;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 500ms ease-in-out;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li.active {
    background: #4d86f05d
}

nav ul li:hover {
    transform: translateY(0);
}

/*!-------------HOME-------------*/
/*?-------------HOME-MAIN-------------*/
.home-main {
    background: url("./pictures/bg-pictures/bg-home.svg") no-repeat;
    background-size: cover;
}

.home-main-picture {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background: url("../pictures/bg-pictures/bg-home.webp") no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid black;
}

.home-main-picture h1 {
    color: white;
    text-shadow: 3px 3px 5px black;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 800;
    padding: 0 23rem;
}

.home-main h2 {
    font-size: 3rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
    text-transform: uppercase;
}

/*?-------------HOME-SECTION-------------*/
.home-section p {
    padding: 2rem;
    font-size: 2.5rem;
    color: white;
}

/*?-------------HOME-CARDS-------------*/

.home-cards {
    display: flex;
    overflow-x: auto;
    width: 100%;
}

/*?-------------CARD-------------*/

.card {
    width: 25rem;
    flex-wrap: wrap;
    margin: 1rem;
    padding: .7rem;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
    transition: 750ms ease-in-out;
    position: relative;
}

.card:hover {
    transform: scale(1.04);
}

.card a {
    text-decoration: none;
    color: white;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.card-info img {
    max-width: 100%;
    border-radius: 20px;
}

.card-info-text {
    display: flex;
    justify-content: space-between;
}

.card-info h1,
.card-info p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.card-info h1 {
    margin: .5rem 0;
    font-size: 1.7rem;
}

.card-info-text p {
    font-size: 1.1rem;
    max-width: calc(100% - 5rem);
}

/*!-------------ABOUT-------------*/
.about-main {
    text-align: center;
    height: 100%;
    background: url("./pictures/bg-pictures/bg-about.svg") no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.about-main h2 {
    font-size: 3rem;
    font-weight: 800;
}

.about-info p {
    font-size: 2rem;
    padding: 2rem;
    font-weight: 700;
    text-align: justify; /*! OBURNI VNIMANIE KATO IMASH VECHE POVECHE TEKST ZA PISANE */
}

.about-section {
    display: flex;
    padding: 1rem 0;
}

.about-img {
    flex-basis: 20%;
    padding: 0 0 0 1rem;
}

.about-img img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    transition: 200ms ease-in-out;
}

.about-text {
    flex-basis: 80%;
    text-align: left;
    padding: .5rem;
    padding: 0 0 2rem 1.5rem;
}

.about-text h2,
.about-text h3 {
    font-size: 2.5rem;
    font-weight: 700;
    padding: 1rem 0;
}

.about-text p {
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 500;
    text-align: justify; /*! OBURNI VNIMANIE KATO IMASH VECHE POVECHE TEKST ZA PISANE */
}

.about-text p span {
    font-size: 1em;
    font-weight: 500;
}

.teachers-h2 {
    padding: 0 0 1rem 0;
}

/*?-------------ABOUT-FORM-------------*/

.contacts {
    display: flex;
    padding: 1rem 0;
}

.contacts-questions {
    flex-basis: 60%;
    text-align: left;
}

.contacts-questions h2 {
    padding: 0 1rem;
}

.contacts-questions p {
    font-size: 2rem;
    padding: 1rem;
    font-weight: 700;
}

.contacts-form {
    flex-basis: 45%;
}

.contacts-form form {
    width: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
    background-color: transparent !important;
}

form select {
    width: 83%;
    padding: 1rem;
    margin: .5rem 0 1.5rem 0;
    background: white;
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
    border-radius: 10px;
}

form input {
    width: 80%;
    height: 1.5rem;
    padding: 1rem;
    margin: 0 0 1.5rem 0;
    background: white;
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
    border-radius: 10px;
}

form textarea {
    width: 80%;
    height: 5.5rem;
    padding: 1rem;
    margin: 0 0 1.5rem 0;
    background: white;
    color: rgb(5, 5, 5);
    font-size: 1.5rem;
    border-radius: 10px;
    resize: none;
}

form button {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 800;
    padding: .5em;
    color: white;
    border-radius: 15px;
    border: 3px solid #2d5194;
    text-shadow: rgb(0, 0, 0) 3px 3px 5px;
    width: fit-content;
    text-transform: uppercase;
    transition: 750ms ease-in-out;
    background-color: transparent;
}

form button:hover {
    background-color:  #4d86f0;
}

/*!-------------GALLERY-------------*/

.gallery-container {
    background: url("../pictures/bg-pictures/bg-gallery.svg") no-repeat;
    background-size: cover;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 2rem 2rem 2rem;
}

.image {
    width: 30rem;
    height: 20rem;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 2px 2px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image:hover img {
    transform: scale(1.1);
}

.whole-div:not(.popup-image) {
    cursor: pointer;
}

/*?-------------POPUP-IMAGE-------------*/

.popup-image {
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.popup-image .image {
    border: none;
    box-shadow: none;
    width: 0;
    height: 0;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 63rem;
    cursor: default;
    object-fit: cover;
    border: 5px solid white;
    border-radius: 25px;
    transform: translate(-50%, -50%);
}

.popup-image .image:hover img {
    transform: translate(-50%, -50%) scale(1);
}

/*!-------------STUDENTS-------------*/
.students-main {
    background: url("./pictures/bg-pictures/bg-students.svg") no-repeat;
    background-size: cover;
    color: white;
}

.students-info p {
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    text-align: justify;
}

.students-semesters h2 {
    font-size: 3rem;
    text-shadow: 2px 2px 1px black;
    text-align: center;
    font-weight: 800;
}

.semesters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.semesters div {
    padding: 1rem;
    margin: 2rem;
    width: 33rem;
    text-align: center;
    background: rgba(245, 245, 245, 0.75);
    border-radius: 1rem;
    box-shadow: 2px 2px 4px #333;
}

.semesters div a {
    color: black;
    text-decoration: none;
}

.semesters div h3 {
    padding: 1rem;
    font-size: 2rem;
}

.semesters div ul {
    list-style: none;
}

.semesters div ul li {
    margin: .5rem 0;
    font-size: 1.5rem;
}

/*!-------------FOOTER-------------*/

footer {
    background: linear-gradient(#1C2B49, #071329);
    height: auto;
    width: 100%;
    border-top: 1px solid black;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.column1 {
    flex-basis: 35%;
    margin: 1rem 0;
    text-align: center;
}

.column1 h1,
.column2 h1,
.column3 h1 {
    font-size: 2.25rem;
    padding: .5rem 0 0 0;
    font-weight: 600;
}

.column1 img {
    float: left;
    width: 4rem;
    height: 4rem;
    padding: .5rem 0 0 .5rem;
}

.column1 p {
    margin: .5rem 0;
    font-size: 1.5rem;
    opacity: 75%;
}

.column2 {
    flex-basis: 35%;
    margin: .35rem 1rem 0 1rem;
    text-align: center;
    margin: 1rem 0;
}

.column2 ul {
    list-style: none;
    margin: .35rem 1rem;
}

.column2 ul li a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    transition: 750ms ease-in-out;
    opacity: 75%;
}

.column2 ul li a:hover {
    color: rgb(62, 216, 255);
}

.column3 {
    flex-basis: 30%;
    margin: .35rem;
    margin: 1rem 0;
    text-align: center;
}

.column3 p {
    margin: .5rem 0;
    font-size: 1.5rem;
    opacity: 75%;
}

.column3 ul li {
    list-style: none;
}

.column3 ul li .icon {
    text-decoration: none;
    font-size: 1.3rem;
    transition: 750ms ease-in-out;
}

.column3 ul li span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    padding: .5rem;
}

.copyright {
    text-align: center;
    padding: 1rem;
}

.copyright h1 {
    color: rgba(255, 255, 255, 0.5);
}

ul li a .icon {
    margin: .5rem 0;
}

ul li a .icon>path {
    transition: 500ms ease-in-out;
    color: white;
}

ul li a .icon:hover>path {
    color: rgb(13, 76, 250);
}

/*!-------------SMALL-SCREEN-------------*/

nav .icon,
.tu-logo {
    display: none;
}

@media screen and (width <= 1300px) {
    .home-main-picture h1 {
        padding: 0 2rem;
    }
    
    .about-section {
        height: auto;
        display: block;
    }

    .about-img {
        flex-basis: 100%;
        padding: 0;
    }

    .about-text  {
        margin: 0 0 2rem 0;
    }

    .about-text h2,
    .about-text h3 {
        text-align: center;
    }

    .about-text {
        margin: 0;
        padding: 0;
    }

    .about-text p,
    .about-main p {
        margin: 0;
        padding: 1rem 2rem;
        text-align: justify;
    }


    .about-text h2,
    .about-text h3 {
        padding: 0 1rem;
    }

    .contacts {
        padding: 0 0 1rem 0;
    }
}

@media (width <= 950px) {
    .about-img img {
        max-width: 85%;
    }

    .preloader {
        display: none;
        z-index: 0;
    }

    /*!-------------HEADER-------------*/
    header {
        padding: 0;
    }

    nav .icon {
        display: block;
        font-size: 2rem;
        color: white;
    }

    .burger-div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav ul {
        background: #1C2B49;
        position: fixed;
        top: -100rem;
        right: 0;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        padding-top: 3rem;
        z-index: 1001;
    }

    nav ul li {
        display: block;
        padding: .5rem 1rem;
    }

    nav ul li:hover {
        transform: none;
    }

    nav ul li a {
        font-size: 4rem; /* !ZA TABLETI */
    }

    nav ul .icon {
        position: absolute;
        font-size: 2.5rem;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    .fa-bars {
        margin: 0 2rem;
        cursor: pointer;
    }

    .home-main-picture h1 {
        font-size: 2.25rem;
    }

    /*!-------------GALLERY-------------*/
    .image {
        height: auto;
    }

    .popup-image img {
        width: 90%;
    }

    .contacts {
        display: block;
    }

    .contacts-questions,
    .contacts-form {
        flex-basis: 100%;
    }

    .contacts-questions h2 {
        text-align: center;
    }

    /*!-------------FOOTER-------------*/
    .footer-content {
        display: block;
    }

    .column1,
    .column2,
    .column3 {
        text-align: center;
        flex-basis: 100%;
        margin: 0;
        padding: 1rem;
    }
}

@media (width <= 950px) and (orientation: portrait) {
    .tu-logo-div {
        width: 100vw;
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tu-logo {
        max-width: 30%;
        display: block;
    }
}

@media (width <= 1050px) and (width >= 1000px) {
    .popup-image img {
        width: 48rem;
    }
}

@media (width <= 925px) and (orientation: landscape) {
    .popup-image img {
        width: calc(30rem - 5%);
    }

    /*?-------------CARD-------------*/
    .card {
        max-width: 40%;
    }

    .card h1 {
        font-size: 1.6rem;
    }
}

@media (width <= 650px) and (orientation: portrait) {
    /*?-------------CARD-------------*/
    .home-cards {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        max-width: 85%;
    }

    .card img {
        max-width: 100%;
    }

    .card h1 {
        font-size: 1.4rem;
    }
}

@media (width <= 600px) {
    nav ul li a {
        font-size: 2.5rem;
    }

    .home-main {
        background: url("./pictures/bg-pictures/bg-home-mobile.svg") no-repeat;
        background-size: cover;
    }

    .home-main-picture {
        background: url("./pictures/bg-pictures/bg-home-mobile.webp") no-repeat;
        background-size: cover;
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.25);    
    }

    .gallery-container {
        height: 100%;
        background: url("./pictures/bg-pictures/bg-gallery-mobile.svg") no-repeat;
        background-size: cover;
    }

    .about-main {
        height: 100%;
        background: url("./pictures/bg-pictures/bg-about-mobile.svg") no-repeat;
        background-size: cover;
    }

    .students-main {
        background: url("./pictures/bg-pictures/bg-students-mobile.svg") no-repeat;
        background-size: cover;
    }

    .home-main-picture h1 {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .home-section p {
        font-size: 1.6rem;
    }

    /*!-------------ABOUT-------------*/

    .title {
        font-size: 2.75rem;
    }

    .about-main h2 {
        font-size: 2rem;
    }

    .contacts-questions h2 {
        font-size: 1.75rem;
    }

    .about-section {
        padding: 1rem 0 0 0;
    }

    .about-text p,
    .about-main p {
        font-size: 1.25rem;
    }

    .about-text h2,
    .about-text h3 {
        font-size: 2rem;
    }

    .teachers-h2 {
        padding: 0;
    }

    /*!-------------GALLERY-------------*/

    .gallery-container h1 {
        font-size: 4rem;
    }

    /*!-------------CANDIDATE-STUDENTS-------------*/
    .students-semesters h2 {
        font-size: 2rem;
        text-align: center;
    }

    .students-info p {
        font-size: 1.25rem;
        padding: 1rem 2rem 2rem 2rem;
    }

    .semesters div h3 {
        font-size: 1.75rem;
    }

    .semesters div ul li {
        font-size: 1.25rem;
    }

    /*!-------------FOOTER-------------*/
    footer {
        height: auto;
    }

    .column1 img {
        padding: 0;
    }

    .column1 h1,
    .column2 h1,
    .column3 h1 {
        font-size: 1.75rem;
        padding: 1rem;
    }

    .copyright h1 {
        font-size: 1.25rem;
    }
}

/* !byklyk galaxy fold */

@media (width <= 300px) {
    nav ul li a {
        font-size: 2rem;
    }

    .title {
        font-size: 2rem;
    }

    .home-text h2 {
        font-size: 2rem;
    }

    .gallery-container h1 {
        font-size: 3rem;
    }

    .about-main h2 {
        font-size: 1.5rem;
    }

    /*!-------------CANDIDATE-STUDENTS-------------*/
    .semesters div h3 {
        font-size: 1.5rem;
    }

    .semesters div ul li {
        font-size: 1.2rem;
    }
}

@media (height <= 500px) {
    nav ul li a {
        font-size: 2rem;
    }
}

@media (height <= 300px) {
    nav ul li a {
        font-size: 1.25rem;
    }

    .popup-image img {
        width: calc(25rem - 7%);
    }
}